.checkBoxFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    margin: 1px;

  }
  
  .checkBoxFlex:hover {
    background-color: #a8a8a8;
    cursor: pointer;
  }
  
  .flexBoxContainer {
    width: 100%;
  }
  
  .multiselect, .multiselect2 {
    position: relative;
  }
  
  .selectBox {
    position: relative;
  }
  
  select,
  input[type="date"],
  select option {
    padding-left: 16px;
  }
  
  .selectBox select {
    overflow: hidden;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    padding-left: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    box-sizing: border-box;
  }
  
  .selectBox option {
    display: flex;
    align-items: center;
  }
  
  .overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  
  
  
  #checkboxes {
    display: none;
    border: none;
    background-color: #ffffff;
    position: absolute;
    border-radius: 10px;
    z-index: 1;
    width: 100%;
    height: 200px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollen für den Y-Achse (vertikal) */
    scrollbar-color: #2a3647 #e0e0e0; /* Farbe des Scrollbalkens und der Spur */
    scrollbar-width: thin; /* Schmaler Scrollbalken (nur Firefox) */
}
  #checkboxes img,
  #checkboxes2 img {
    height: 42px;
    width: 42px;
  }
  #checkboxes::-webkit-scrollbar-thumb,
  #checkboxes2::-webkit-scrollbar-thumb {
    background-color: #2a3647;
    border-radius: 8px;
  }
  #checkboxes::-webkit-scrollbar-track {
    background-color: #e0e0e0;
    border-radius: 8px;
  }
  #checkboxes::-webkit-scrollbar-thumb,
  #checkboxes2::-webkit-scrollbar-thumb {
    height: 53px;
  }
  
  #checkboxes label,
  #checkboxes2 label {
    padding: 5px;
  }
  
  #checkboxes label img,
  #checkboxes2 label img {
    vertical-align: middle;
    margin-right: 8px;
  }
  
  .input-with-button {
    position: relative;
    display: flex;
    align-items: center;
  }
  .no-border {
    border: none;
  }
  
  #subtasksPlus {
    position: absolute;
    right: 10px;
  }
  .subtasksList {
    max-height: 100px;
    display: flex;
    gap: 8px;
    flex-direction: column;
    flex-grow: 1;
    font-family: "Inter";
    font-weight: 400;
    font-size: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;
    scrollbar-color: #2a3647 #e0e0e0;
    -ms-overflow-style: none;
   } 
  
  
  .subtasksList::-webkit-scrollbar {
    display: none;
  }
  .subtasksList::-webkit-scrollbar-thumb {
    background-color: #2a3647;
    border-radius: 8px;
  }
  .subtasksList::-webkit-scrollbar-track {
    background-color: #e0e0e0;
    border-radius: 8px;
  }
  .subtasksList::-webkit-scrollbar-thumb {
    height: 53px;
  }
  
  .subtasksList ul {
    display: inline-block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
  }
  .d-none {
    display: none;
  }
  
  .subtasks-control {
    display: flex;
    align-items: center;
    border: 1px solid #a8a8a8;
    background-color: #ffffff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: none;
  }
  
  .subtasks-control img {
    padding: 4px;
  }
  
  .subtasks-control img:hover {
    border-radius: 100%;
    background-color: #a8a8a8;
    padding: 4px;
  }
  
  .seperator-subtasks {
    height: 14px;
    margin-left: 4px;
    margin-right: 4px;
    border: 1px solid #d1d1d1;
  }
  .subtask-button {
    height: 48px;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 0 10px 10px 0;
    outline: none;
    border-left: none;
    background-color: #ffffff;
    font-size: 24px;
    font-family: "Inter";
    font-weight: 400;
    cursor: pointer;
  }
  .subtasks-input, .subtasks-input2 {
    height: 50px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    outline: none;
    border: 1px solid #a8a8a8;
    border-right: none;
    font-size: 20px;
    font-family: "Inter";
    font-weight: 400;
    flex-grow: 1;
    padding-left: 16px;
  }
  .inputAddTaskSubtasks{
    border: none;
    background: none;
    box-shadow: none;
    outline: none;
    background-color: #ffffff;
    height:30px;
    width:85%
  }

  .subtasks-edit{
    padding-left:16px;
    padding-right:16px;
    height:32px;
    margin:1px;
    background-color: #ffffff;
  }

.subtasks-edit:hover{
  background-color:#a8a8a8 ;
}
.subtasks-edit-input{
  padding-left:16px;
  padding-right:16px;
  height:32px;
  margin:1px;
  background-color: #ffffff;
  border-bottom: 2px solid #29abe2;
}