@media (max-width: 640px) {
  body {
    height: 100vh;
    margin: 0;
  }

  
  .add-task-head {
    width: 428px;
    height: 112px;
    margin-top: 0;
    position: sticky;
    top: 0;
    background-color: #f6f7f8;
    z-index: 3;
  }

  .add-task-head h1 {
    font-size: 47px;
    font-weight: 700;
    line-height: 56.4px;
    text-align: left;
    position: absolute;
    top: 56px;
    margin-block-start: 0;
    margin-block-end: 0;
  }

  .add-Task-Container {
    width: 487px;
    height: 730px;
    position: absolute;
    top: 80px;
    left: 16px;
    gap: 16px;
    display: flex;
    flex-direction: column;

  }

  form {
    width: 487px;
    height: 930px;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
    scrollbar-color: #2a3647 #e0e0e0;
    -ms-overflow-style: none;
  }

  form::-webkit-scrollbar {
    display: block;
  }
  form::-webkit-scrollbar-thumb {
    background-color: #2a3647;
    border-radius: 4px;
  }
  form::-webkit-scrollbar-track {
    background-color: #e0e0e0;
    border-radius: 4px;
  }
  form::-webkit-scrollbar-thumb {
    height: 12px;
  }


  .add-task-middle-section {
    display: flex;
    margin-top: 0;
    flex-direction: column;
    position: absolute;
    top: 160px;
  }
  .add-task-seperator {
    display: none;
  }

  .add-task-cancel-button {
    display: none;
  }
  .add-task-finish-button-container {
    background-color: #f6f7f8;
    position: absolute;
    top: 858px;
    left: 216px;
    width: auto;
    height: auto;
    padding-bottom: 2px;
    transform: none;
  }


  .add-task-title-inputfield {
    width: 396px;
    height: 40px;
    gap: 8px;
    padding-left: 0;
    padding-right: 0;
  }

  .selectBox select, .add-task-title-inputfield::placeholder, input[type="date"],select option {
    padding-left: 16px;
  }

select {
  font-size: 16px; 
  padding-left: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  appearance: none; 
}
#taskCategory {
  width: 396px !important;
}

.subtasksList {
  height: 60px;
}

.subtasksList ul {
  margin-top: 8px;
  font-size: 16px;
}

  label[for="title"],
  label[for="description"],
  label[for=""],
  label[for="assignedTo"],
  label[for="dueDate"],
  label[for="taskCategory"],
  label[for="subtasks"],
  .add-task-prio-button,
  .add-task-input,
  select option,
  .checkBoxImg ,
  .add-task-title-inputfield,
  .add-task-textarea,
  #prioButton1,
  #prioButton2,
  #prioButton3,
  .add-task-title-inputfield::placeholder,
  .add-task-textarea::placeholder,
  input[type="date"] {
    font-size: 16px;
  }

  .add-task-textarea {
    width: 396px;
    min-height: 80px;
    max-height: 88px;
    gap: 8px;
  }


  .selectBox select {
    font-size: 16px;
    width: 396px;
    height: 48px;
    gap: 8px;
  }

  #checkboxes img {
    height: 32px;
    width: 32px;
  }

  #checkboxes,
  #checkboxes2 {
    font-size: 16px;
    height: 100px;
    width: 396px;
  }

  .add-task-finish-section {
    font-size: 20px;
    font-weight: 400;
    position: absolute;
    top: 872px;
    padding: 0;
  }

  .add-task-prio-button-container {
    width: 396px;
    height: 88px;
    gap: 8px;
  }
  .input-with-button {
    width: 396px;
    padding: 0;
  }

  .add-task-prio-button {
    margin: 0;
  }
  .add-task-prio-button:hover {
    transform: scale(1.0);
  }
  .add-task-select {
    font-size: 16px;
    width: 380px;
    height: 48px;
    padding-right: 0;
    gap: 8px;
  }

  .add-task-select select,.add-task-middle-section  {
    width: 396px;
  }
  
}
