@media (max-width: 800px) {
  body {
    height: 100vh;
    margin: 0;
  }
  .add-Task-Container {
    width: 487px;
    height: 930px;
    position: absolute;
    top: 80px;
    left: 16px;
    gap: 16px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
    scrollbar-color: #2a3647 #e0e0e0;
    -ms-overflow-style: none;
  }

  .add-Task-Container::-webkit-scrollbar {
    display: none;
  }
  .add-Task-Container::-webkit-scrollbar-thumb {
    background-color: #2a3647;
    border-radius: 4px;
  }
  .add-Task-Container::-webkit-scrollbar-track {
    background-color: #e0e0e0;
    border-radius: 4px;
  }
  .add-Task-Container::-webkit-scrollbar-thumb {
    height: 12pxpx;
  }

  .add-task-head {
    width: 428px;
    height: 112px;
    margin-top: 0;
    position: sticky;
    top: 0;
    background-color: #f6f7f8;
    z-index: 3;
    /** padding: 48px 198px 8px 16px; **/
  }

  .add-task-head h1 {
    font-size: 47px;
    font-weight: 700;
    line-height: 56.4px;
    text-align: left;
    margin-block-start: 0;
    margin-block-end: 0;
  }

  .add-task-middle-section {
    display: flex;
    margin-top: 0;
    flex-direction: column;
    position: absolute;
    top: 160px;
  }
  .add-task-seperator {
    display: none;
  }

  .add-task-cancel-button {
    width: 428px;
    height: 88px;
    z-index: 3;
    padding: 16px 0px 0px 0px;
    justify-content: space-between;
  }

  .add-task-cancel-button {
    position: absolute;
    top: 758px;
    width: 183px;
    height: 56px;
    padding: 16px 0px 0px 0px;
    gap: 4px;
    border-radius: 10px 0px 0px 0px;
  }
}
