@font-face {
  font-family: "Inter";
  src: url("/src/fonts/inter/inter-v13-latin-regular.woff2") format("woff2");
  font-weight: 600;
}

@font-face {
  font-family: "Inter700";
  src: url("/src/fonts/inter/inter-v13-latin-700.woff2") format("woff2");
  font-weight: 700;
}

body {
  height: 100vh;
  font-family: "Inter";
  font-weight: 400;
  overflow: hidden;
  margin: 0;
}

.background-main {
  background-color: rgb(246, 247, 248);
}

.board-head-section {
  max-width: 1208px;
  max-height: 232px;
  position: absolute;
  top: 96px;
  left: 232px;
}

.board-head-section-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.board-headline {
  font-family: "Inter700";
  font-size: 61px;
  margin-left: 32px;
}

.search-task-container {
  height: 48px;
  display: flex;
  gap: 10px;
}

.add-task-button {
  color: #ffffff;
  width: 164px;
  height: 48px;
  background-color: #2a3647 !important;
  font-family: "Inter700";
  font-size: 20px;
  margin-left: 24px;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  border: unset;
  transition: transform 0.2s;
  border-radius: 10px !important;
}

.add-task-button:hover {
  cursor: pointer;
  background-color: #29abe2 !important;
  color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.add-task-button img {
  height: 20px;
  width: 20px;
}

.add-task-button span {
  margin-left: 4px;
}

.add-task-button-head,
.add-task-button {
  display: none;
}

.search-task-section {
  display: flex;
  height: 48px;
  width: 352px;
  border-radius: 10px;
  border: 1px solid #a8a8a8;
}

.search-task-web {
  width: 312px;
  padding: 8px 16px 8px 16px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  outline: none;
  border: none;
  font-size: 20px;
  color: rgba(209, 209, 209, 0.8);
}
.search-task-web:focus {
  color: #000000;
}

.search-task-section img {
  background-color: #ffffff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 8px 8px 8px 16px;
}

.search-task-section img:hover {
  cursor: pointer;
}

.search-task-seperator {
  width: 1px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #a8a8a8;
}

.board-head-section-bottom {
  display: flex;
  width: 1208px;
  height: 24px;
  position: absolute;
  top: 200.5px;
}

.add-task {
  padding-left: 32px;
}

.add-task:hover {
  cursor: pointer;
}

.board-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

@keyframes wobble {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.rotate {
  animation: wobble 0.5s ease-in-out;
}

.status-message {
  width: 250px;
  font-size: 16px;
  color: #a8a8a8;
  margin: 10px 0px;
  text-align: center;
  border: 1px dashed rgba(209, 209, 209, 0.8);
  padding: 10px 0px;
  border-radius: 10px;
}

.board-task-column {
  display: flex;
  justify-content: space-between;
  width: 252px;
  height: 24px;
  display: flex;
  align-items: center;
}

.board-task-column h4 {
  color: #42526e;
  font-family: "Inter700";
  font-size: 20px;
  display: inline-block;
}

.board-task-column img {
  height: 24px;
  width: 24px;
  padding-left: 65px;
}

.board-task-column img:hover {
  cursor: pointer;
}

.board-task-container {
  flex-grow: 1;
  padding: 16px;
  max-width: 252px;
  max-height: 260px;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
}

.board-task-container h1 {
  padding-top: 4px;
  padding-right: 16px;
  padding-left: 16px;
  padding-bottom: 4px;
}
.board-task-container h2 {
  padding-bottom: 8px;
}
.progress-container {
  height: 16px;
  padding-top: 24px;
  padding-bottom: 24px;
  border-radius: 4px;
  overflow: hidden;
}

.progress-bar {
  height: 8px;
  background-color: rgb(69, 137, 255);
  border-radius: 8px;
}
