@media (max-width: 1350px) {
  .board-render-section {
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
    scrollbar-color: #2a3647 #e0e0e0;
    -ms-overflow-style: none;
    width: 90vw;
    height: 90vh;
  }

  .drag-area {
    width: 90vw;
  }

  .board-task-column {
    flex-direction: row;
    width: 150px;
  }

  .board-render-status-container {
    flex-direction: row;
  }

  .board-task-container {
    height: 160px;
    width: 252px !important;
  }

  .board-column {
    justify-content: flex-start;
    align-items: flex-start;
    width: 90vw;
    height: 300px;
  }

  .board-head-section {
    position: relative;
    width: 60vw;
    left: 20%;
    top: 50%;
  }

  .board-head-section-top {
    margin-bottom: 20px;
    height: 236px;
  }

  .responsive-board-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50vw;
  }

  .add-task-button-head {
    display: none;
  }

  .search-task-section {
    width: 20vw;
    margin-left: 10px;
  }

  .search-task-web {
    width: 100%;
  }
}

@media (max-width: 1050px) {
  .board-head-section {
    width: 60vw;
    left: 5%;
    top: 28px;
  }

  .board-head-section-top {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100px;
  }

  .board-headline {
    font-size: 47px;
    margin: 0;
  }

  .board-addtask-btn {
    display: none;
  }

  .add-task-button {
    margin: 0;
    padding: 10px !important;
    width: auto;
  }

  .add-task-button img {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .add-task-button-head {
    display: flex;
    color: #ffffff;
    width: 40px;
    height: 40px;
    background-color: #2a3647 !important;
    font-family: "Inter700";
    font-size: 20px;
    margin-left: 0;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    border: unset;
    transition: transform 0.2s;
    border-radius: 10px !important;
  }

  .add-task-button {
    display: none !important;
  }

  .responsive-board-head,
  .search-task-section {
    width: 90vw;
    margin: 0;
    height: 48px;
    margin-bottom: 10px;
  }

  .board-task-column,
  .status-message {
    width: 87vw;
  }

  ::placeholder {
    font-size: 20px;
  }

  .board-render-section {
    height: 68vh;
  }
}
