
@font-face {
    font-family: 'Inter';
    src: url("/src/fonts/inter/inter-v13-latin-regular.woff2") format("woff2");
    font-weight: 600;
}
@font-face {
    font-family: 'Inter700';
    src: url("/src/fonts/inter/inter-v13-latin-700.woff2") format("woff2");
    font-weight: 700;
}
.background-main{
    background-color: rgb(246, 247, 248);
}
.board-head-section{
    max-width: 1208px;
    max-height: 232px;
    padding-left: 272px;
    padding-right: 76px;
    padding-top: 40px;
}
.board-head-section-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.board-headline{
    font-family: 'Inter700';
    font-size: 61px;
}
.search-task-container{
    display: flex;
    height: 48px;
}
.add-task-button{
    background-color:rgb(42, 54, 71);
    color:  #FFFFFF;
    width:183px;
    border-radius: 10px;
    font-family: 'Inter700';
    font-size: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    transition: transform 0.2s;
}
.add-task-button:hover{
    cursor: pointer;
    background-color:#007cee;
    color: #FFFFFF;
    transform: scale(1.1);
}
.search-task-section{
    display: flex;
    border-radius: 10px;
    margin-right: 10px;
    border: 1px solid #A8A8A8;
}
.search-task-web{
    Padding: 8px 16px 8px 16px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    outline: none;
    border: none;
    font-size: 34px;
    color: rgba(209, 209, 209, 0.8);
}
.search-task-section img{
   background-color:#FFFFFF;
   border-top-right-radius: 10px;
   border-bottom-right-radius: 10px;
   Padding: 8px 8px 8px 16px;
}
.search-task-section img:hover{
    cursor: pointer;
}
.search-task-seperator{
    width:1px;
    margin-top:5px;
    margin-bottom:5px;
    background-color: #A8A8A8;
}
.board-head-section-bottom{
    display: flex;
}
.add-task{
    padding-left:32px;
}
.add-task:hover{
    cursor:pointer;
}
.board-task-column{
    width:244px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:13px
}
.board-task-column h4{
    color:#42526E;
    font-family: 'Inter700';
    font-size: 20px;
}
.board-task-column img {
    height:24px;
    width:24px;  
}
.board-task-column img:hover{
    cursor: pointer;
}
.board-task-column-right{
    padding-right: 76px;
}
.board-task-column-left{
    padding-left: 76px;
}
.board-task-container{
    border-radius: 10px;
    width:263px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
    padding: 24px;
    margin:24px;
}
.board-task-container h1{
    background-color: rgb(0, 56, 255);
    border-radius: 10px;
    padding-top:4px;
    padding-right: 16px;
    padding-left:16px;
    padding-bottom:4px;
    color:rgb(255, 255, 255);
}
.progress-container {
    width: 128px;
    height: 8px;
    background-color: #e0e0e0; /* Light grey background for the container */
    border-radius: 4px; /* Rounded corners */
    overflow: hidden; /* Ensures that the bar stays within the container */
  }
  
  .progress-bar {
    height: 100%;
    background-color: rgb(69, 137, 255); /* Color of the progress bar */
    border-radius: 4px 0 0 4px; /* Rounded corners for the progress bar */
  }