@media (max-width: 1350px) {
  .board-render-section {
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
    scrollbar-color: #2a3647 #e0e0e0;
    -ms-overflow-style: none;
  }

  .board-task-column {
    flex-direction: row;
    width: 150px;
  }

  .board-render-status-container {
    flex-direction: row;
  }

  .board-task-container {
    height: 160px;
    width: 100px !important;
  }

  .board-column {
    justify-content: flex-start;
    align-items: flex-start;
    width: 300px;
    height: 300px;
  }

  .board-head-section {
    position: relative;
    width: 60vw;
    left: 20%;
  }

  .search-task-section {
    width: 20vw;
    margin-left: 10px;
  }

  .search-task-web {
    width: 100%;
  }
}

@media (max-width: 1050px) {
  .board-head-section {
    width: 60vw;
    left: 5%;
  }
}
