@media (max-width: 1350px) {
  .contact-section-seperator-hor {
    display: flex;
    width: 90px;
    border-bottom: 3px solid #29abe2;
  }

  .contact-section-seperator {
    display: none;
  }

  #contact-section {
    width: 461px;
    height: 200px;
    top: 400px;
    left: 750px;
  }

  .contact-information {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 200px;
    gap: 0;
  }

  .contact-section-header {
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 16px;
  }

  .add-form-section,
  .edit-contact-section {
    top: 11%;
    width: 396px !important;
    height: 730px !important;
  }

  .add-contact-content-left-box {
    width: 396px;
    height: 352px;
    border-radius: 30px 30px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .add-contact-content-left-box h2 {
    font-size: 47px;
  }

  .add-contact-content-left-box p {
    font-size: 20px;
  }

  .formfield-logo,
  #formfield-cancel-btn {
    display: none;
  }

  .add-contact-seperator {
    margin: 0;
  }

  .add-contact-content-left-box h2,
  .add-contact-content-left-box p,
  .add-contact-seperator {
    margin-left: 20px;
  }

  .form-prof-img {
    position: absolute;
    left: 138px;
    top: 300px;
  }

  #contact-form,
  #edit-contact-form {
    position: absolute !important;
    width: 364px;
    top: 450px;
    left: 15px;
  }

  #formfield-create-btn {
    position: absolute;
    left: 80px;
    top: 210px;
    height: 47px;
    width: 202px;
  }

  .editfield-btn-box {
    position: absolute;
    left: 80px;
    top: 660px;
    height: 47px;
    width: 202px;
  }

  #editfield-cancel-btn,
  #editfield-create-btn {
    height: 47px;
  }

  .exitBtn-resp {
    display: flex;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }

  #contact-form input,
  #edit-contact-form input {
    height: 36px;
  }

  @keyframes moveIn {
    0% {
      visibility: visible;
      transform: translateY(100vh);
    }
    100% {
      visibility: visible;
      transform: translateY(0);
    }
  }

  @keyframes moveOut {
    0% {
      visibility: visible;
      transform: translateY(0);
    }
    100% {
      visibility: hidden;
      transform: translateY(100vh);
    }
  }
}

@media (max-width: 1050px) {
  #contactlist-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 10%;
    left: 0;
  }

  .contactlist-section > * {
    margin: 0;
  }

  .contacts * {
    margin: 0;
  }

  .contact-section-header {
    display: none;
  }

  .contactlist-btn-box {
    display: none;
  }

  .add-contact-btn-responsive {
    display: flex;
    position: fixed;
    bottom: 15%;
    left: 300px;
  }

  #add-form-section,
  #edit-contact-section {
    top: 11%;
    left: 2%;
  }

  .add-contact-seperator {
    margin: 0;
  }

  .add-contact-content-left-box h2,
  .add-contact-content-left-box p,
  .add-contact-seperator {
    margin-left: 20px;
  }

  #contact-section {
    width: 461px;
    height: 364px;
    top: 200px;
    left: 480px;
  }
}

@media (max-width: 850px) {
  #contact-section,
  #contact-information-content {
    display: flex !important;
    width: 300px;
    position: fixed;
    left: 5%;
    z-index: 3000;
  }

  .edit-contact-section {
    height: 150px !important;
  }

  .contact-section-btn-box {
    display: none;
  }

  .contact-name-edit {
    font-size: 36px;
  }

  .contact-information {
    flex-direction: row;
    align-items: center;
  }

  .test-div {
    position: fixed;
    top: 10%;
    left: 0;
    width: 100vw;
    height: 81.5vh;
    background-color: aliceblue;
    z-index: 5000;
  }

  .contact-section-header {
    display: flex;
    position: fixed;
    top: 12%;
    left: 5%;
  }
}
