@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter/inter-v13-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter/inter-v13-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/inter/inter-v13-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
  font-family: inter;
  background: #f6f7f8;
  margin: 0;
}

#main {
  height: 100vh;
}

#contactlist-section {
  position: absolute;
  top: 96px;
  left: 215px;
}

.contactlist {
  height: 928px;
  float: right;
  background-color: #ffffff;
  box-shadow: 4px 0px 6px 0px #00000014;
}

.contactlist-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #a8a8a8 #ffffff;
  height: 928px;
  border: 8px none #ffffff;
  scrollbar-width: none;
  overflow-y: scroll;
}

.contactlist::-webkit-scrollbar {
  display: none;
}

.contactlist-content {
  width: 352px;
  height: 78px;
  padding: 15px 24px 15px 24px;
  gap: 35px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.contactlist-content img {
  width: 42px;
  height: 42px;
  border-left: 2px;
  gap: 10px;
}

.contactlist-content:hover {
  background-color: #eeecec;
}

.contactlist-data {
  height: 48px;
  gap: 5px;
}

.contactlist-name {
  height: 24px;
  line-height: 24px;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
}

.contactlist-mail {
  line-height: 19.2px;
  color: #007cee;
  font-size: 16px;
}

.contactlist-btn-box {
  background-color: #ffffff;
  box-shadow: 4px 0px 0px 0px #00000014;
  height: 101px;
  width: 400px;
  position: sticky;
  top: 22.5px;
  left: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#add-contact-btn {
  width: 352px;
  height: 56px;
  color: white;
  background-color: #2a3647;
  border-radius: 10px;
  font-weight: 700;
  font-size: 21px;
  border: 1px;
  padding: 12px, 16px, 12px, 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#add-contact-btn img {
  width: 32px;
  height: 32px;
  padding-left: 16px;
}

#add-contact-btn:hover {
  background-color: #29abe2;
}

.alphabetic-order {
  display: flex;
  justify-content: flex-start;
  width: 352px;
  height: 58px;
  padding-left: 36px;
  gap: 8px;
}

.alphabetic-order p {
  width: 14px;
  height: 24px;
  padding-left: 24px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.seperator {
  width: 352px;
  border-bottom: 1px solid #d1d1d1;
  display: flex;
  justify-content: center;
}

.contact-section-header {
  position: absolute;
  top: 206px;
  left: 743px;
  width: 569px;
  height: 73px;
  gap: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contact-section-header h1 {
  font-size: 61px;
  font-weight: 700;
}

.contact-section-header p {
  font-size: 26px;
  font-weight: 400;
  color: #2a3647;
}

#contact-section {
  width: 461px;
  height: 364px;
  position: absolute;
  top: 311px;
  left: 750px;
  gap: 21px;
  animation: moveIn 1s ease-in-out 0.2s forwards;
}
@keyframes moveIn {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(0);
  }
}

.contact-information {
  width: 461px;
  height: 120px;
  gap: 54px;
  display: flex;
  align-items: center;
}

.contact-information img {
  width: 120px;
  height: 120px;
  gap: 10px;
  border-radius: 70px 0px 0px 0px;
  border: 3px 0px 0px 0px;
}

.contact-information p {
  font-size: 47px;
  font-weight: 500;
  margin: 0;
  text-align: left;
}

.contact-namebtn{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contact-change-btn {
  width: 159px;
  height: 24px;
  display: flex;
  font-size: 400;


}
#edit-btn {
  width: 62px;
  height: 24px;
  border: none;
  gap: 8px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  cursor: pointer;
}

#del-btn {
  width: 81px;
  height: 24px;
  border: none;
  gap: 8px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  cursor: pointer;
}

.contact-change-btn img {
  height: 24px;
  width: 24px;
}

#contact-information-details {
  width: 207px;
  height: 74px;
  gap: 59px;
}

.information-header {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.information-details {
  width: 140px;
  height: 128px;
  gap: 22px;
}

.information-details a {
  text-decoration: none;
  color: #29abe2;
}

#contactForm {
  width: 1212px;
  height: 592px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 30px 0px 0px 0px;
  animation: moveIn 1s ease-in-out 0.001s forwards;
}
@keyframes moveIn {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(0);
  }
}

#contactForm input {
  width: 422px;
  height: 50px;
  gap: 8px;
}

.create-btn {
  color: #ffffff;
  width: 214px;
  height: 57px;
  padding: 16px 0px 0px 0px;
  gap: 4px;
}

.seperator2 {
  border-left: 3px solid #29abe2;
  height: 53px;
}
