@media (max-width: 1350px) {
  .contact-section-seperator-hor {
    display: flex;
    width: 90px;
    border-bottom: 3px solid #29abe2;
  }

  .contact-section-seperator {
    display: none;
  }

  .contact-section-header {
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 16px;
  }
}

@media (max-width: 1050px) {
  #contactlist-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 10%;
    left: 0;
  }

  .contactlist-section > * {
    margin: 0;
  }

  .contacts * {
    margin: 0;
  }

  .contact-section-header {
    display: none;
  }
}
