
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inter/inter-v13-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/inter/inter-v13-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

body{
    background-color: #F6F7F8;
    font-family: inter;
}

.contact-list{
    background-color:#FFFFFF;
    height: 932px;
    width: 456px;
    position: absolute;
    margin-left: 28px;
    top: 96px;
    left: 232px;
    box-shadow: 4px 0px 6px 0px #00000014;

}

.contact-overlay{
    width: 569px;
    height: 73px;
    margin-top: 206px;
    margin-left: 743px;
    gap: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
 .contact-overlay h1{
    font-size: 61px;
    font-weight: 700;
}
.contact-overlay p{
    font-size: 26px;
    font-weight: 400;
    color: #2A3647;
}

.seperator {
    border-left: 3px solid #29ABE2;
    height: 53px;
}

.btnbox{
 height: 101px;
 width: 456px;
 display: flex;
 align-items: center;
 justify-content: center;
}

#addbtn{
    width: 352px;
    height: 56px;
    color: white;
    background-color: #2A3647;
    border-radius: 10px;
    font-weight: 700;
    font-size: 21px;
    border: 1px;
    padding: 12px, 16px, 12px, 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#addbtn img{
    width: 32px;
    height: 32px;
    padding-left: 16px;
}

.alphabetic-order{
    display: flex;
    justify-content: flex-start;
    width: 352px;
    height: 58px;
    padding: 17px 36px 17px 36px;
}

.alphabetic-order p{
    width: 14px;
    height: 24px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.seperator2{
    width: 352px;
    border-bottom: 1px;
    border: 1px solid #D1D1D1;
    display: flex;
    justify-content: center;
}

.contact-content{
    width: Fixed 352px;
    height: Hug 78px;
    padding: 15px 24px 15px 24px;
    gap: 35px;
    border-radius: 10px 0px 0px 0px;
    display: flex;
}

.contact-content img{
    width: 42px;
    height: 42px;
    border-left: 2px;
}
.cont-name{
    width: 121px;
    height: 24px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
.cont-mail{
    color: #007CEE;
    font-size: 16px;
    line-height: 19.2px
}