.update-animation {
    width: 326px;
    height: 74px;
    top: 80vh;
    left: 743px;
    justify-content: center;
    align-items: baseline;
    animation: moveIn 800ms ease-in 100ms forwards;
  }
  @keyframes moveIn {
    0% {
      visibility: visible;
      transform: translateX(100vw);
    }
    100% {
      visibility: visible;
      transform: translateX(0);
    }
  }
  @keyframes moveOut {
    0% {
      visibility: visible;
      transform: translateX(0);
    }
    100% {
      visibility: visible;
      transform: translateX(100vw);
    }
  }
  
  .animation-100 {
    animation: moveIn 100ms ease-in 100ms forwards;
  }
  @keyframes moveIn {
    0% {
      visibility: visible;
      transform: translateX(100vw);
    }
    100% {
      visibility: visible;
      transform: translateX(0);
    }
  }
  
  .ani-out-100 {
    animation: moveOut 100ms ease-in-out 100ms forwards;
  }
  @keyframes moveOut {
    0% {
      visibility: visible;
      transform: translateX(0);
    }
    100% {
      visibility: visible;
      transform: translateX(100vw);
    }
  }
  
  .selected-contact-name {
    color: white;
  }
  
  .input-error {
    border: 2px solid red;
  }
  
  .input-error:focus {
    outline: none;
    border-color: red;
  }
  
  .arrow-button-resp {
    display: none;
  }