@media (max-width: 1350px) {
  .contact-section-seperator-hor {
    display: flex;
    width: 90px;
    border-bottom: 3px solid #29abe2;
  }

  .contact-section-seperator {
    display: none;
  }

  #contact-section {
    top: 300px;
  }

  .contact-information {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 200px;
    gap: 0;
  }

  .contact-section-header {
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 16px;
  }

  .add-form-section,
  .edit-contact-section {
    top: 11%;
    width: 396px !important;
    height: 730px !important;
  }

  .add-contact-content-left-box {
    width: 396px;
    height: 352px;
    border-radius: 30px 30px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .add-contact-content-left-box h2 {
    font-size: 47px;
  }

  .add-contact-content-left-box p {
    font-size: 20px;
  }

  .formfield-logo,
  #formfield-cancel-btn {
    display: none;
  }

  .add-contact-seperator {
    margin: 0;
  }

  .add-contact-content-left-box h2,
  .add-contact-content-left-box p,
  .add-contact-seperator {
    margin-left: 20px;
  }

  .form-prof-img {
    position: absolute;
    left: 138px;
    top: 300px;
  }

  #contact-form,
  #edit-contact-form {
    position: absolute !important;
    width: 364px;
    top: 450px;
    left: 15px;
  }

  #formfield-create-btn {
    position: absolute;
    left: 80px;
    top: 210px;
    height: 47px;
    width: 202px;
  }

  .editfield-btn-box {
    position: absolute;
    left: 80px;
    top: 660px;
    height: 47px;
    width: 202px;
  }

  #editfield-cancel-btn,
  #editfield-create-btn {
    height: 47px;
  }

  .exitBtn-resp {
    display: flex;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }

  #contact-form input,
  #edit-contact-form input {
    height: 36px;
  }

  @keyframes moveIn {
    0% {
      visibility: visible;
      transform: translateY(100vh);
    }
    100% {
      visibility: visible;
      transform: translateY(0);
    }
  }

  @keyframes moveOut {
    0% {
      visibility: visible;
      transform: translateY(0);
    }
    100% {
      visibility: hidden;
      transform: translateY(100vh);
    }
  }
}

@media (max-width: 1050px) {
  #contactlist-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 10%;
    left: 0;
  }

  .contactlist-section > * {
    margin: 0;
  }

  .contacts * {
    margin: 0;
  }

  .contact-section-header {
    display: none;
  }

  .contactlist-btn-box {
    display: none;
  }

  .add-contact-btn-responsive {
    display: flex;
    position: fixed;
    bottom: 15%;
    right: 10%;
    cursor: pointer;
  }

  .add-contact-seperator {
    margin: 0;
  }

  .add-contact-content-left-box h2,
  .add-contact-content-left-box p,
  .add-contact-seperator {
    margin-left: 20px;
  }

  #contact-section {
    width: 461px;
    height: 364px;
    top: 100px;
    left: 480px;
  }
}

@media (max-width: 850px) {
  #contact-section,
  #contact-information-content {
    display: flex !important;
    width: 300px;
    position: fixed;
    left: 5%;
  }

  #contact-section {
    height: 200px;
  }

  .contact-section-btn-box {
    display: none;
  }

  .contact-name-edit {
    font-size: 36px;
  }

  .contact-information {
    flex-direction: column;
    align-items: flex-start;
  }

  .contactlist-section-responsive {
    position: fixed;
    left: 0;
    width: 100vw;
    height: 81.5vh;
    background-color: #f4f4f4;
    z-index: 2;
  }

  .contact-section-header-resp {
    display: flex;
    flex-direction: column;
    position: fixed;
    gap: 16px;
    top: 12%;
    left: 5%;
    z-index: 2;
  }

  .contact-section-header-resp h1 {
    font-size: 47px;
  }

  .contact-section-header-resp {
    font-size: 20px;
  }

  #contact-section {
    top: 300px;
  }

  .contact-options-menu {
    display: flex !important;
    position: fixed;
    bottom: 15%;
    right: 30px;
    cursor: pointer;
  }

  .contact-options-dropdown {
    flex-direction: column;
    justify-content: center;
    position: fixed;
    bottom: 25%;
    right: 30px;
    width: 116px;
    height: 100px;
    border-radius: 20px 0px 20px 20px;
    background-color: white;
    padding: 10px;
  }

  .arrow-button-resp {
    display: flex;
    position: fixed;
    top: 150px;
    right: 30px;
    text-decoration: none !important;
  }
}

@media (max-width: 380px) {
  .add-contact-btn-responsive,
  .contact-options-menu {
    bottom: 15%;
    right: 5%;
  }
  
  
  .contactlist-section,
  .contactlist-section-responsive,
  .contactlist-content {
    width: 100% !important;
    height: 100% !important;
  }

  #add-form-section,
  .add-form-section,
  .add-contact-content-left-box,
  .edit-contact-section {
    width: 90vw !important;
    gap: 1px;
  }

  .add-form-section,
  .edit-contact-section {
    position: absolute;
    top: 5% !important;
    height: 600px !important;
  }
  
  .add-contact-content-left-box {
    height: 250px;
  }

  .form-prof-img img {
    width: 120px;
    height: 120px;
  }

  .form-prof-img {    
    position: absolute;
    top: 32%;
    left: 34%;
  }

  .add-contact-content-left-box h2 {
    font-size: 36px;
    line-height: 56.4px;
  }

  .add-contact-content-left-box p {
    font-size: 16px;
  } 

  #contact-form,
  #edit-contact-form {
    width: 80vw;
    position: absolute;
    top: 55%;
  }

  ::placeholder {
    font-size: 16px;
  }

  #formfield-create-btn {
    position: absolute;
    left: 20%;
  }

  .editfield-btn-box {
    position: absolute;
    top: 90%;
    left: 20%;
  }

  .contact-section-header-resp {
    position: absolute;
    top: 0;
  }

  .contact-section-header-resp h1 {
    font-size: 36px;
  }

  .contact-section-header-resp p {
    font-size: 16px;
  }

  .contact-information {
    position: fixed;
    top: -80px;
  }

  #contact-information-content {
    position: fixed;
    left: 0;
    padding-top: 70px;
  }

  .contact-information-data {
    position: fixed;
    top: 100px;
    left: 0;
  }
  .contact-information img {
    width: 80px;    
    height: 80px;
  }
}
