.checkBoxFlex {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
}

.checkBoxFlex:hover {
  background-color: #a8a8a8;
  cursor: pointer;
}

.flexBoxContainer {
  width: 100%;
}

.user-image-bord-container-open {
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  scrollbar-color: #2a3647 #e0e0e0;
  -ms-overflow-style: none;
}

.user-image-bord-container-open ::-webkit-scrollbar {
  display: none;
}
.user-image-bord-container-open ::-webkit-scrollbar-thumb {
  background-color: #2a3647;
  border-radius: 8px;
}
.user-image-bord-container-open ::-webkit-scrollbar-track {
  background-color: #e0e0e0;
  border-radius: 8px;
}
.user-image-bord-container-open ::-webkit-scrollbar-thumb {
  height: 53px;
}
.multiselect {
  position: relative;
}

.selectBox {
  position: relative;
}

.selectBox select {
  overflow: hidden;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}

.selectBox option {
  display: flex;
  align-items: center;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

[id^="checkboxesEdit"]{
  height: 136px;
  width: auto;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: none;
  scrollbar-color: #2a3647 #e0e0e0;
  -ms-overflow-style: none;
}

[id^="checkboxesEdit"]::-webkit-scrollbar {
  display: none;
}
[id^="checkboxesEdit"]::-webkit-scrollbar-thumb {
  background-color: #2a3647;
  border-radius: 8px;
}
[id^="checkboxesEdit"]::-webkit-scrollbar-track {
  background-color: #e0e0e0;
  border-radius: 8px;
}
[id^="checkboxesEdit"]::-webkit-scrollbar-thumb {
  height: 53px;
}

#checkboxes {
  display: none;
  border: none;
  background-color: #ffffff;
  position: absolute;
  border-radius: 10px;
  z-index: 1;
  width: 475px;
  height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: none;
  scrollbar-color: #2a3647 #e0e0e0;
  -ms-overflow-style: none;
}

.checkBoxImg img {
  height: 42px;
  width: 42px;
}

#checkboxes::-webkit-scrollbar {
  display: none;
}
#checkboxes::-webkit-scrollbar-thumb {
  background-color: #2a3647;
  border-radius: 8px;
}
#checkboxes::-webkit-scrollbar-track {
  background-color: #e0e0e0;
  border-radius: 8px;
}
#checkboxes::-webkit-scrollbar-thumb {
  height: 53px;
}

#checkboxes label {
  padding: 5px;
}

#checkboxes label img {
  vertical-align: middle;
  margin-right: 8px;
}
.subtasks-control-edit img {
  height: 16px;
  width: 16px;
  padding: 4px;
}

.subtasks-control-edit img:hover {
  border-radius: 100%;
  background-color: #a8a8a8;
  padding: 4px;
}

.seperator-subtasks {
  height: 14px;
  margin-left: 4px;
  margin-right: 4px;
  border: 1px solid #d1d1d1;
}
.subtask-button-edit {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 0 10px 10px 0;
  outline: none;
  border-left: none;
  background-color: #ffffff;
  font-size: 24px;
  font-family: "Inter";
  font-weight: 400;
  cursor: pointer;
}
.subtasks-input-edit {
  height: 50px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  outline: none;
  border: 1px solid #a8a8a8;
  border-right: none;
  font-size: 20px;
  font-family: "Inter";
  font-weight: 400;
  flex-grow: 1;
  padding-left: 16px;

}
.add-task-input-edit {
  width: 100%;
  padding-left: 16px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  outline: none;
  border: 1px solid #a8a8a8;
  height: 50px;
  font-size: 20px;
  font-family: "Inter";
  font-weight: 400;
  flex-grow: 1;
  border-right: none;
}

.input-with-button-edit {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  border: 1px solid #f6f7f8;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  scrollbar-color: #2a3647 #e0e0e0;
  -ms-overflow-style: none;
}

.add-task-button-edit {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 20px;
  border-radius: 0 10px 10px 0;
  outline: none;
  border-left: none;
  background-color: #ffffff;
  font-size: 24px;
  font-family: "Inter";
  font-weight: 400;
  cursor: pointer;
  height: 100%;
}

.subtasks-control-edit {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #a8a8a8;
  background-color: #ffffff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-left: none;
  height: 50px;
}

.input-with-button-edit::-webkit-scrollbar {
  display: none;
}
.input-with-button-edit::-webkit-scrollbar-thumb {
  background-color: #2a3647;
  border-radius: 8px;
}
.input-with-button-edit::-webkit-scrollbar-track {
  background-color: #e0e0e0;
  border-radius: 8px;
}
.input-with-button-edit::-webkit-scrollbar-thumb {
  height: 53px;
}
.subtasksListEdit {
  padding-left: 8px;
  height: 120px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: none;
  scrollbar-color: #2a3647 #e0e0e0;
  -ms-overflow-style: none;
}
.subtasksopenedit {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0px;
}

.edit-task-button-div {
  position: absolute;
  top: 690px;
  left: 380px;
}

.edit-task-button {
  background-color: rgb(42, 54, 71);
  color: #ffffff;
  height: 28px;
  padding: 18px, 10px, 18px, 10px;
  width: 88px;
  border-radius: 10px;
}

.edit-task-button img {
  height: 16px;
  width: 16px;
}

.edit-task-button:hover {
  background-color: #29abe2;
  border: unset;
}
.subtasks-edit:hover {
  background-color: #a8a8a8;
}

.edit-board-form {
  height: 700px;

  flex-grow: 1;
}

.edit-board-form2 {
  height: 700px;
  width: 446px;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  scrollbar-color: #2a3647 #e0e0e0;
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  scrollbar-width: 4px;
}
.edit-board-form2::-webkit-scrollbar {
  display: none;
}
.edit-board-form2::-webkit-scrollbar-thumb {
  background-color: #2a3647;
  border-radius: 4px;
}
.edit-board-form2::-webkit-scrollbar-track {
  background-color: #e0e0e0;
  border-radius: 4px;
}
.edit-board-form2::-webkit-scrollbar-thumb {
  height: 53px;
}
