body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgb(246, 247, 248);
}

.main-login {
  width: 100%;
  height: 100%;
}

.login-signup {
  width: 80%;
  max-width: 1920px;
  position: absolute;
  top: 5%;
  left: 5%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.login-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 10;
  background-color: rgb(246, 247, 248);
  width: 100vw;
  height: 100vh;
  transition: all 1s ease;
  transform-origin: top left;
}

#login-logo-invert {
  display: none;
}

.logo-shrink {
  transform: scale(0.365) translate(77px, 80px);
  width: 200px;
  height: 240px;
  background-color: rgb(246, 247, 248);
}

.login-signup button {
  border: none;
  padding: 15px 16px;
}

.login-not-user {
  font-family: "Inter";
  font-size: 20px;
  margin-right: 20px;
  padding: 10px;
}

.login-signup-btn {
  font-size: 16px;
  color: white;
  border-radius: 8px;
}

.login-field {
  width: 80%;
  max-width: 652px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  padding: 48px 88px;
  gap: 32px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.login-input {
  padding: 12px 21px;
}

.input-mail,
.input-password {
  position: relative;
  display: flex;
  align-items: center;
}

.login-input input {
  border-style: none;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  height: 48px;
  width: 422px;
  gap: 8px;
  font-size: 20px;
  font-family: "Inter";
  padding-left: 20px;
}

.login-input input:placeholder-shown {
  font-size: 20px;
  font-family: "Inter";
}

::placeholder {
  color: #d1d1d1;
}

.login-input img {
  position: absolute;
  right: 10px;
  width: 24px;
}

.login-checkbox {
  font-family: "Inter";
  font-size: 16px;
  padding: 20px 40px;
}

.login-btn {
  margin-top: 20px;
  margin-left: 85px;
  width: 322px;
  height: 48px;
}

.submit-login-btn {
  background-color: #2a3647;
  color: white;
  width: 110px;
  height: 48px;
  border-radius: 8px;
  gap: 10px;
  transition: transform 0.125s ease-in-out;
}

.submit-login-btn:hover,
.login-signup-btn:hover {
  background-color: #29abe2;
  border-color: #29abe2;
  border: none !important;
  transform: scale(1.05);
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.25);
}

.submit-guest-login-btn {
  background-color: white;
  color: #2a3647;
  border-color: #2a3647;
  width: 177px;
  height: 48px;
  border-radius: 8px;
  margin-left: 40px;
  gap: 10px;
  transition: transform 0.125s ease-in-out;
}

.submit-guest-login-btn:hover {
  color: #29abe2;
  border-color: #29abe2;
  transform: scale(1.05);
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.25);
}

.login-headline-divider {
  height: 0px;
  width: 150px;
  border-bottom: 3px solid #29abe2;
  margin: 10px 0;
}

.login-info {
  position: absolute;
  top: 90%;
}

.login-info button {
  border: none;
  background-color: rgb(246, 247, 248);
  font-family: "Inter";
  color: #a8a8a8;
  font-size: 16px;
}

.input-mail input:focus {
  outline: none !important;
  border: 1px solid #29abe2;
}

.input-password input:focus {
  outline: none !important;
  border: 1px solid #29abe2;
}

.input-invalid {
  outline: none !important;
  border: 1px solid red;
  border-radius: 10px;
}

.error-message {
  font-family: 'Inter';
  color: red;
  font-size: 12px;
  width: 422px;
}

.password-toggle {
  position: absolute;
  right: 10px;
  width: 24px;
  cursor: pointer;
}

.password-toggle.show {
  content: url("/public/img/password-show.png");
}

.password-toggle.hide {
  content: url("/public/img/password-hidden.png");
}

input[type="password"]::-ms-reveal {
  display: none;
}

input[type="password"]::-webkit-inner-spin-button,
input[type="password"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="password"]::-webkit-password-field {
  display: none;
}

@media (max-width: 750px) {
  .login-field {
    width: 80%;
    max-width: 396px;
    max-height: 60%;
    padding: 0px 15px;
    top: 20%;
    gap: 10px;
    z-index: 1;
  }

  .login-input input {
    width: 100%;
    max-width: 320px;
    height: 38px;
  }

  .login-btn {
    margin-top: 20px;
    max-width: 100%;
    height: 100px;
    flex-direction: column;
    gap: 10px;
    margin: 0 10px;
  }

  .submit-login-btn,
  .login-signup-btn {
    width: 180px;
    height: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .login-not-user {
    font-size: 12px;
    margin-right: 10px;
    padding: 5px;
  }

  .submit-guest-login-btn {
    margin-left: 0;
  }

  .login-signup {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 10%;
  }

  .login-txt {
    font-size: 47px;
  }

  .login-headline-divider {
    margin: 0;
  }

  .login-info {
    position: absolute;
    bottom: 5%;
  }

  #login-form {
    max-width: 100%;
  }

  .submit-login-btn,
  .submit-guest-login-btn {
    height: 35px;
  }

  #login-logo-invert {
    display: flex;
    position: absolute;
  }

  .logo-shrink-invert {
    transform: scale(0.365) translate(77px, 80px);
    width: 200px;
    height: 240px;
    background-color: rgb(246, 247, 248);
    opacity: 0;
  }

  .login-logo {
    animation: backgroundChange 100s forwards;
  }

  .login-logo {
    background-color: #2a3647;
  }

  .logo-shrink {
    transform: scale(0.365) translate(77px, 80px);
    width: 175px;
    height: 215px;
    background-color:  rgb(246, 247, 248);
  }

  @keyframes backgroundChange {
    0% {
      background-color: #2a3647;
    }
    100% {
      background-color: rgb(246, 247, 248);
    }
  }
}
