body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgb(246, 247, 248);
}

.login-signup {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 47px 279px 0px 0px;
}

.login-signup button {
    border: none;
    padding: 15px 16px;
    gap: 35px;
}

.login-not-user-btn {
    font-family: 'Inter';
    font-size: 20px;
}

.login-signup-btn {
    font-size: 16px;
    color: white;
    border-radius: 8px;
}

.login-logo {
    width: 100%;
}

.login-logo img {
    height: 122px;
    margin-left: 77px;
    margin-bottom: 80px;
}

.login-field {
    background-color: white;
    border-radius: 30px;
    padding: 30px 30px;
    gap: 32px;
    width: 652px;
    height: 497px;
}

.login-input {    
    padding: 12px 21px;
}

.input-mail, .input-password {
    position: relative;
    display: flex;
    align-items: center;
}

.login-input input{
    border-style: none;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    height: 48px;
    width: 422px;
    gap: 8px;
    font-size: 20px;
    font-family: 'Inter';
    padding-left: 20px;
}

.login-input input:placeholder-shown {
    font-size: 20px;
    font-family: 'Inter';
}

::placeholder {    
    color: #D1D1D1;
}

.login-input img {
    position: absolute;
    right: 10px;
    width: 24px;
}

.login-checkbox {
    font-family: 'Inter';
    font-size: 16px;
    padding: 20px 80px;
}

.login-btn {
    margin-top: 20px;
    width: 500px;
    height: 48px;
}

.submit-login-btn {
    background-color: #2A3647;
    color: white;
    width: 110px;
    height: 48px;
    border-radius: 8px;
    gap: 10px;
    margin-left: 60px;
    transition: transform 0.125s ease-in-out;
}

.submit-login-btn:hover {
    background-color: #29ABE2;
    border-color: #29ABE2;
    border: none!important;
    transform: scale(1.05);
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.25);
}

.submit-guest-login-btn {
    background-color: white;
    color: #2A3647;
    border-color: #2A3647;
    width: 177px;
    height: 48px;
    border-radius: 8px;
    margin-left: 40px;
    gap: 10px;
    transition: transform 0.125s ease-in-out;
}

.submit-guest-login-btn:hover {
    color: #29ABE2;
    border-color: #29ABE2;
    transform: scale(1.05);
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.25);
}

.login-headline-divider {
    height: 0px;
    width: 150px;
    border-bottom: 3px solid #29abe2;
    margin: 10px 0;
  }