body {
  margin: 0;
  height: 100vh;
  width: 98vw;
  background-color: rgb(246, 247, 248);
}

.signup-logo {
  width: 100%;
  position: absolute;
  top: 5%;
  z-index: 9;
}

.signup-logo img {
  height: 122px;
  margin-left: 77px;
  margin-bottom: 8px;
}

.signup-field {
  width: 500px;
  height: 65vh;
  background-color: white;
  position: absolute;
  top: 18%;
  border-radius: 30px;
  padding: 48px 88px;
  gap: 16px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.signup-arrow {
  position: absolute;
  top: 12%;
  left: 12%;
  cursor: pointer;
}

.signup-input {
  padding: 12px 21px;
}

.input-name,
.input-mail,
.input-password,
.input-confirm-password {
  position: relative;
  display: flex;
  align-items: center;
}

.signup-input input {
  border-style: none;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  height: 5vh;
  width: 422px;
  gap: 8px;
  font-size: 20px;
  font-family: "Inter";
  padding-left: 20px;
}

.signup-input input:placeholder-shown {
  font-size: 20px;
  font-family: "Inter";
}

::placeholder {
  color: #d1d1d1;
}

.signup-input img {
  position: absolute;
  right: 10px;
  width: 24px;
}

.signup-checkbox {
  font-family: "Inter";
  font-size: 16px;
  padding: 20px 80px;
  color: #a8a8a8;
}

.signup-btn {
  margin-top: 20px;
  width: 500px;
  height: 48px;
}

.submit-signup-btn {
  background-color: #2a3647;
  color: white;
  min-width: 110px;
  width: auto;
  height: 48px;
  border-radius: 8px;
  gap: 10px;
  transition: transform 0.125s ease-in-out;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.submit-signup-btn:hover {
  background-color: #29abe2;
  border-color: #29abe2;
  border: none !important;
  transform: scale(1.05);
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.25);
}

.submit-success-btn {
  background-color: #2a3647;
  color: white;
  min-width: 110px;
  width: auto;
  height: 48px;
  border-radius: 8px;
  gap: 10px;
  position: absolute;
  bottom: -100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  transition: bottom 0.5s ease;
}

.successBody {  
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(246, 247, 248, 0);
  transition: background-color 0.5s ease;
  z-index: 99;
}

.submit-success-btn.show {
  bottom: 50%;
}

.signup-headline-divider {
  height: 0px;
  width: 150px;
  border-bottom: 3px solid #29abe2;
  margin: 10px 0;
}

.signup-info {
  position: absolute;
  top: 100%;
}

.signup-info button {
  border: none;
  background-color: rgb(246, 247, 248);
  font-family: "Inter";
  margin: 50px 0px;
  color: #a8a8a8;
  font-size: 16px;
}

.privacy-link {
  text-decoration: none;
  cursor: pointer;
}

.input-password input:focus {
  outline: none !important;
  border: 1px solid #29abe2;
}

.input-confirm-password input.invalid {
  outline: none !important;
  border: 1px solid red;
}

.input.invalid:focus {
  outline: none !important;
  border: 1px solid red;
}

.error-message {
  color: red;
  font-size: 12px;
  display: none;
  width: 422px;
}

.password-toggle {
  position: absolute;
  right: 10px;
  width: 24px;
  cursor: pointer;
}

.password-toggle.show {
  content: url('/public/img/password-show.png');
}

.password-toggle.hide {
  content: url('/public/img/password-hidden.png');
}

input[type="password"]::-ms-reveal {
  display: none;
}

input[type="password"]::-webkit-inner-spin-button,
input[type="password"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="password"]::-webkit-password-field {
  display: none;
}

@media (max-width: 750px) {
  .signup-logo {
    top: 2%;
    left: -1%;
  }

  .signup-logo img {
    height: 78px;
    margin-left: 36px;
    margin-bottom: 8px;
  }

  .signup-headline {
    font-size: 47px;
  }

  .signup-field {
    width: 396px;
    height: 65vh;
    background-color: white;
    position: absolute;
    top: 18%;
    border-radius: 30px;
    padding: 20px 40px;
    gap: 32px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
}