@font-face {
  font-family: "Inter";
  src: url("/src/fonts/inter/inter-v13-latin-regular.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "Inter700";
  src: url("/src/fonts/inter/inter-v13-latin-700.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Inter600";
  src: url("/src/fonts/inter/Inter-SemiBold.ttf") format("woff2");
  font-weight: 600;
}

* {
  box-sizing: border-box;
}

.imprint-content {
  max-width: 1016px;
  padding-left: 272px;
  padding-right: 24px;
  font-family: "Inter";
}

.background-main {
  width: 100%;
  background-color: rgb(246, 247, 248);
}

.background-main h2,
h3 {
  font-family: "Inter700";
}

.headline-imprint {
  font-family: "Inter700";
  font-size: 61px;
}

.arrow-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none !important;
}

.arrow-button:hover {
  border: 2px solid rgb(87, 188, 231);
}

.imprint-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imprint a {
  position: relative;
  color: rgb(87, 188, 231);
  text-decoration: none;
  padding: 3px 0;
}

.imprint a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: rgb(87, 188, 231);
  transition: all 0.4s ease;
}

.imprint a:hover::after {
  left: 0;
  width: 100%;
}

.table-helpdesk-number {
  font-family: "Inter700";
  font-weight: 700;
  line-height: 32.4px;
  font-size: 27.4px;
  display: flex;
  justify-content: flex-start;
  padding-right: 16px;
}

.table-helpdesk h3 {
  margin-block-end: 0px;
  margin-block-start: 0px;
}

.table-helpdesk p {
  margin-block-start: 0px;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #2a3647;
  min-width: 232px;
  height: 100vh;
  font-family: "Inter";
  z-index: 3;
}

.nav-up {
  padding: 64px 0px;
}

.nav-mid {
  height: 33vh;
  width: 100%;
}

.nav-mid a {
  text-decoration: none;
  color: #cdcdcd;
  font-size: 16px;
  gap: 8px;
  margin-bottom: 15px;
}

.nav-mid img {
  width: 30px !important;
  height: 30px !important;
  margin-right: 5px;
}

.summary-field,
.task-field,
.board-field,
.contact-field {
  width: 100%;
  padding-left: 64px;
}

.summary-field:hover,
.task-field:hover,
.board-field:hover,
.contact-field:hover {
  background-color: #263750;
}

.nav-down {
  gap: 15px;
  height: 33vh;
  padding-bottom: 64px;
}

.nav-down a {
  text-decoration: none;
  color: #a8a8a8;
}

.nav img {
  width: 100px;
  height: 122px;
}

header {
  width: 100%;
  height: 96px;
  box-shadow: 4px 0px 10px rgba(0, 0, 0, 0.1);
}

.head {
  max-width: 1440px;
  padding: 20px 40px;
  font-size: 20px;
  line-height: 24px;
  font-family: "Inter";
  margin-left: 232px;
}

.help-btn {
  display: none;
}

.head-join-logo {
  width: 30px;
  display: none;
}

.template {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.user-section img {
  width: 16px;
  cursor: pointer;

}

.user-icon {
  width: 56px !important;
  height: 56px;
  border-radius: 50%;
  margin-left: 15px;
  cursor: pointer;
}

.user-icon-dropdown {
  border-radius: 20px 0px 20px 20px;
  width: 150px;
  gap: 8px;
  position: absolute;
  margin-right: 80px;
  top: 11.5%;
  align-items: start !important;
  z-index: 100;
}

.user-icon-dropdown a {
  font-size: 16px;
  text-decoration: none;
  color: #cdcdcd;
  padding: 8px 16px;
}

.main-content-wrapper {
  margin-left: 60px;
  padding-left: 232px;
  background-color: #f4f4f4;
  min-height: 100vh;
}

.main-section-wrapper {
  width: 100vw;
}

@media (max-width: 1050px) {
  .imprint-content {
    padding-left: 27px;
  }

  .nav {
    left: 0;
    top: auto;
    bottom: 0 !important;
    max-width: 1050px;
    width: 100vw !important;
    height: 80px;
  }

  .nav-up {
    display: none;
  }

  .nav-mid {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100vw;
    height: 10vh;
  }

  .nav-mid a {
    margin: 0;
  }

  .nav-mid p {
    margin: 0;
    font-size: 14px;
    line-height: 17px;
  }

  .head {
    padding: 20px 40px;
    margin-left: 10px;
  }

  .help-btn {
    display: flex;
  }

  .head-join-logo {
    display: flex;
  }

  .headline,
  .help-icon,
  .nav-down a {
    display: none;
  }

  .summary-field,
  .task-field,
  .board-field,
  .contact-field {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column;
    width: 80px;
    height: 76px;
    padding: 0;
  }

  .summary-field:hover,
  .task-field:hover,
  .board-field:hover,
  .contact-field:hover {
    background-color: #091931;
    border-radius: 16px;
  }

  .nav-mid img {
    width: 24px !important;
    height: 24px !important;
    margin-right: 0;
  }
}

.nav-mid a.active {
  background-color: #091931;
  color: white;
  transition: 120ms;
}