@font-face {
    font-family: 'Roboto';
    src: url("/src/fonts/Roboto-Regular.ttf") format("woff2");
    font-weight: 600;
  }

.background-main{
    background-color: rgb(246, 247, 248);
}

.imprint{
    padding-left: 40px;
    padding-right: 40px;
}

.arrow-button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none !important;
}

.arrow-button:hover{
    border:2px solid rgb(87, 188, 231);
}

.imprint-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
}

.imprint a{
    position: relative;
    color: rgb(87, 188, 231);
    text-decoration: none;
    padding: 3px 0;
}

.imprint a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: rgb(87, 188, 231);
    transition: all 0.4s ease;
}

.imprint a:hover::after {
    left: 0;
    width: 100%;
}

body {
    font-family: 'Roboto';
    margin: 0;
    height: 100vh;
    width: 100vw;
}

.nav {
    background-color: #2A3647;
    max-width: 232px;
    height: 1024px;
}

.nav-mid {
    gap: 15px;
}

.nav-mid a {
    text-decoration: none;
    color: #CDCDCD;
    font-size: 16px;
}

.nav-mid img {
    width: 30px !important;
    height: 30px !important;
    margin-right: 5px;
}

.summary-field,
.task-field,
.board-field,
.contact-field {
    width: 232px;
    padding: 8px 0px;
}

.summary-field:hover,
.task-field:hover,
.board-field:hover,
.contact-field:hover {    
    background-color: #091931;
}

.nav-down {    
    gap: 15px;
}

.nav-down a {
    text-decoration: none;
    color: #A8A8A8;
}

.nav img {
    width: 100px;
    height: 122px;
}

header{
    width: 100vw;    
    height: 96px;   
    box-shadow: 4px 0px 10px rgba(0, 0, 0, 0.1);
}

.head {
    max-width: 1440px;
    padding: 20px 40px;
    font-size: 20px;
    line-height: 24px;
}

.template {
    display: flex;
    flex-direction: row;
}

.user-section img {
    width: 16px;
    cursor: pointer;
}

.user-icon {
    width: 56px !important;
    height: 56px;
    border-radius: 50%;
    margin-left: 15px;
    cursor: pointer;
}

.d-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-flex-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.d-flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-d-col {
    flex-direction: column;
}

.flex-d-row {
    flex-direction: row;
}