body {
  background-color: #f6f7f8;
  overflow: hidden;
}

.summary-section {
  padding-top: 40px;
  padding-left: 252px;
}

.summary-headline {
  display: flex;
  align-items: center;
  gap: 30px;
}

.summary-headline-left {
  font-size: 61px;
  line-height: 73.2px;
  font-family: "Inter700";
}

.summary-headline-right {
  font-size: 27px;
  line-height: 32.4px;
  font-family: "Inter";
}

.summary-task-row {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.summary-tasks {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  font-family: "Inter";
  width: 560px;
  height: 562px;
  margin-right: 20px;
}

.summary-tasks-up {
  display: flex;
  flex-direction: row;
  height: 168px;
}

.summary-to-do {
  width: 50%;
  background-color: white;
  border-radius: 30px;
  padding: 38px 19px;
  gap: 18px;
  margin-right: 20px;
  transition: transform 0.125s ease-in-out;
}

.summary-done {
  width: 50%;
  background-color: white;
  border-radius: 30px;
  padding: 38px 19px;
  gap: 18px;
  transition: transform 0.125s ease-in-out;
}

.smry-btn:hover {
  color: white;
  background-color: #2a3647;
  transform: scale(1.05);
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.25);
}

.smry-btn:hover .color-dg {
  color: white;
}

.hover-img {
  display: none;
}

.smry-btn:hover .default-img {
  display: none;
}

.smry-btn:hover .hover-img {
  display: inline;
}

.summary-tasks-mid {
  height: 168px;
  background-color: white;
  border-radius: 30px;
  margin-top: 20px;
  transition: transform 0.125s ease-in-out;
}

.summary-tasks-down {
  display: flex;
  flex-direction: row;
  height: 168px;
  margin-top: 20px;
}

.summary-task-in-board,
.summary-task-in-progress {
  width: 33%;
  margin-right: 20px;
  border-radius: 30px;
  background-color: white;
  transition: transform 0.125s ease-in-out;
}

.summary-task-feedback {
  width: 33%;
  border-radius: 30px;
  background-color: white;
  transition: transform 0.125s ease-in-out;
}

.summary-user-greeting {
  font-size: 47px;
  font-family: "Inter";
}

.summary-to-do-left img {
  width: 64px;
}

.summary-done-left img {
  width: 64px;
}

.summary-urgent-left img {
  width: 60px;
}

.summary-tasks-mid-right,
.summary-tasks-mid-left {
  gap: 13px;
}

.summary-headline-divider {
  height: 59px;
  width: 0;
  border-left: 3px solid #29abe2;
  margin: 0 10px;
}

.summary-headline-divider-hor {
  display: none;
  width: 90px;
  border: 3px solid #29abe2;
}

.summary-tasks-mid-divider {
  height: 102px;
  width: 0;
  border-left: 2px solid #d1d1d1;
  margin: 0 10px;
}

.greet-responsive {
  display: none;
}

@media (max-width: 1050px) {
  .summary-section {
    padding-top: 40px;
    padding-left: 20px;
  }

  .summary-headline {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 30px;
  }

  .summary-headline-divider {
    display: none;
  }

  .summary-headline-divider-hor {
    display: flex !important;
    border-bottom: 3px;
  }

  .summary-headline-left {
    font-size: 47px;
    line-height: 56px;
  }

  .summary-headline-right {
    font-size: 20px;
    line-height: 24px;
    font-family: "Inter";
  }

  .greet {
    display: none;
  }

  .greet-responsive {
    background-color: #f6f7f8;
    position: fixed;
    left: 0;
    top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    width: 100vw;
    z-index: 1000;
  }

  .summary-user-greeting-resp {
    font-size: 36px;
    font-family: "Inter";
    z-index: 1001;
  }
  
  .summary-tasks {
    padding-top: 20px;
    width: 90vw;
    height: 10vh;
  }

  .summary-to-do-left img,
  .summary-done-left img {
    width: 40px;
  }

  .td-num,
  .done-num,
  .urg-num,
  .board-num,
  .progress-num,
  .feed-num {
    font-size: 47px !important;
  }

  .td-txt,
  .done-txt,
  .urg-txt,
  .board-txt,
  .progress-txt,
  .feed-txt {
    font-size: 14px !important;
  }

  .summary-to-do,
  .summary-done {
    width: 186px;
    height: 110px;
    padding: 10px 5px;
    border-radius: 20px;
  }

  .summary-tasks-up {
    height: 110px;
    margin: 20px;
    max-width: 396px;
  }

  .summary-tasks-mid {
    height: 110px;
    margin: 20px;
    border-radius: 20px;
    width: 396px;
  }

  .summary-tasks-mid-right-date {
    font-size: 16px !important;
  }

  .summary-deadline {
    font-size: 14px;
  }

  .summary-tasks-down {
    max-width: 396px;
    margin: 20px;
  }

  .summary-tasks {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
  }
}

@media (max-width: 380px) {
  .summary-section {
    padding-top: 10px;
    padding-left: 20px;
  }

  .summary-headline {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 10px;
  }

  .summary-headline-divider {
    display: none;
  }

  .summary-headline-divider-hor {
    display: flex !important;
    border-bottom: 3px;
  }

  .summary-headline-left {
    font-size: 36px;
    line-height: 56px;
  }

  .summary-headline-right {
    font-size: 16px;
    line-height: 24px;
    font-family: "Inter";
  }

  .greet {
    display: none;
  }

  .greet-responsive {
    position: fixed;
    top: 0;
    height: 100vh;
  }

  .summary-user-greeting-resp {
    font-size: 36px;
    font-family: "Inter";
    z-index: 1001;
  }
  
  .summary-tasks {
    padding-top: 20px;
    width: 90vw;
    height: 10vh;
  }

  .summary-to-do-left img,
  .summary-done-left img {
    width: 40px;
  }

  .td-num,
  .done-num,
  .urg-num,
  .board-num,
  .progress-num,
  .feed-num {
    font-size: 36px !important;
  }

  .td-txt,
  .done-txt,
  .urg-txt,
  .board-txt,
  .progress-txt,
  .feed-txt {
    font-size: 12px !important;
  }

  .summary-to-do,
  .summary-done {
    width: 160px;
    height: 100px;
  }

  .summary-tasks-up {
    height: 110px;
  }

  .summary-tasks-mid {
    height: 110px;
    margin: 20px;
    border-radius: 20px;
    width: 360px;
  }

  .summary-tasks-mid-right-date {
    font-size: 16px !important;
  }

  .summary-deadline {
    font-size: 14px;
  }

  .summary-tasks-down {
    max-width: 396px;
    margin: 20px;
  }

  .summary-tasks {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
  }
}
