.d-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.d-flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.d-flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.d-flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-d-col {
  flex-direction: column;
}

.flex-d-row {
  flex-direction: row;
}

.txt-center {
  text-align: center;
}

.txt-left {
  align-items: flex-start !important;
  text-align: left;
}

.fs-64 {
  font-size: 64px;
}

.fs-20 {
  font-size: 20px;
}

.fs-21 {
  font-size: 21px;
}

.pll-24{
  padding: 0px 0px 0px 24px;
}

.plr-20 {
  padding: 0px 20px;
}

.color-dg {
  color: #2a3647;
}

.fw-600 {
  font-family: 'Inter600';
}

.fw-700 {
  font-family: 'Inter700';
}