/* display-flex*/

.d-flex {
  display: flex;
}

.d-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.d-flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.d-flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.d-flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-d-col {
  flex-direction: column;
}

.flex-d-row {
  flex-direction: row;
}

.txt-center {
  text-align: center;
}

.txt-left {
  align-items: flex-start !important;
  text-align: left;
}

.item-center {
  align-items: center;
}

.item-start {
  align-items: flex-start;
}

.content-even {
  justify-content: space-evenly;
}

.self-baseline {
  align-self: baseline;
}

.flex-grow {
  flex-grow: 1;
}

/* font-sizes */

.fs-16 {
  font-size: 16px;
}

.fs-19 {
  font-size: 19px;
}
.fs-20 {
  font-size: 20px;
}

.fs-21 {
  font-size: 21px;
}

.fs-27 {
  font-size: 27px;
}

.fs-47 {
  font-size: 47px;
}

.fs-61 {
  font-size: 61px;
}

.fs-64 {
  font-size: 64px;
}

/** border - radius **/
.bradius10 {
  border-radius: 10px;
}
.bradius30 {
  border-radius: 30px;
}

.bradius-lb-30 {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.bradius70 {
  border-radius: 70px;
}

/* font-weights + familys */

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.f-weight-700 {
  font-weight: 700;
}

.fw-600 {
  font-family: "Inter600";
}

.fw-700 {
  font-family: "Inter700";
}

/* padding */

.p-10 {
  padding: 10px;
}

.p-l-16 {
  padding-left: 16px;
}

.pll-24 {
  padding: 0px 0px 0px 24px;
}

.plr-20 {
  padding: 0px 20px;
}
.pa-7-16{
  padding: 7px 16px;
}

.p-40 {
  padding: 40px;
}

/** Line -heights **/
.l-height-19 {
  line-height: 19.2px;
}

.l-height-24 {
  line-height: 24px;
}

.l-height-32 {
  line-height: 32.4px;
}

.l-height-73 {
  line-height: 73.2px;
}


/* gaps*/
.gap-4 {
  gap: 4px;
}

.gap-8 {
  gap: 8px;
}

.gap-10 {
  gap: 10px;
}

.gap-12 {
  gap: 12px;
}

.gap-15 {
  gap: 15px;
}

.gap-16 {
  gap: 16px;
}

.gap-20 {
  gap: 20px;
}

.gap-22 {
  gap: 22px;
}

.gap-24 {
  gap: 24px;
}

.gap-32 {
  gap: 32px;
}

.gap-21 {
  gap: 21px;
}

/** img -heights **/

.img-24 {
  height: 24px;
  width: 24px;
}

.form-prof-img {
  width: 120px;
  height: 120px;
  position: absolute;
  top: 204px;
  left: 550px;
}

/* font-color*/

.color-wh {
  color: #ffffff;
}

.color-dg {
  color: #2a3647;
}

.color-lb {
  color: #29abe2;
}

.color-lg {
  color: #cdcdcd;
}
.color-cs {
  color: #072b4b;
}

/* background - colors*/

.bg-color-wh {
  background-color: #f6f7f8;
}

.bg-color-ww {
  background-color: #ffffff;
}

.bg-color-dg {
  background-color: #2a3647;
}

.bg-color-lb {
  background-color: #29abe2;
}

.bg-color-tr {
  background-color: transparent;
}

.bg-color-lg {
  background-color: rgb(246, 247, 248);
}

/* subclasses - help*/

.obj-cover {
  object-fit: cover;
}

.vis-hidden {
  visibility: hidden;
}

.shadow-none {
  box-shadow: none;
}

.pointer {
  cursor: pointer;
}

.b-unset {
  border: unset;
}

.b-none {
  border: none;
}

.no-wrap-text {
  white-space: nowrap;
}

.d-none {
  display: none;
}

.mg-block-inline {
  display: inline-block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}


.pos-abs {
  position: absolute;
}

.pos-rel {
  position: relative;
}

.text-deco-n {
  text-decoration: none;
}
.font-sf {
  font-family: sans-serif;
}

.move-out {
  animation: moveOut 800ms ease-out forwards;
}
.mg-btt25 {
  margin-bottom: 25px;
}
.mg-block-none{
  margin-block-start: 0;
  margin-block-end: 0;
}

.width-232 {
  width: 232px;
}
.width-100percent{
  width:100%;
}