/* display-flex*/

.d-flex {
  display: flex;
}

.d-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.d-flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.d-flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.d-flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-d-col {
  flex-direction: column;
}

.flex-d-row {
  flex-direction: row;
}

.txt-center {
  text-align: center;
}

.txt-left {
  align-items: flex-start !important;
  text-align: left;
}

.item-center {
  align-items: center;
}


/* font-sizes */


.fs-16 {
  font-size: 16px;
}

.fs-20 {
  font-size: 20px;
}

.fs-21 {
  font-size: 21px;
}

.fs-47 {
  font-size: 47px;
}

.fs-61 {
  font-size: 61px;
}

.fs-64 {
  font-size: 64px;
}

/* font-weights + familys */


.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.f-weight-700 {
  font-weight: 700;
}

.fw-600 {
  font-family: 'Inter600';
}

.fw-700 {
  font-family: 'Inter700';
}


/* padding */


.p-10 {
  padding: 10px;
}

.p-l-16 {
  padding-left: 16px;
}

.pll-24 {
  padding: 0px 0px 0px 24px;
}

.plr-20 {
  padding: 0px 20px;
}

/* gaps*/

.gap-22{
  gap: 22px;
}

.gap-20 {
  gap: 20px;
}

.gap-15{
  gap: 15px;
}

.gap-8{
  gap: 8px;
}

/* font-color*/ 

.color-wh {
  color: #ffffff;
}

.color-dg {
  color: #2a3647;
}

.color-lb {
  color: #29ABE2
}

.color-lg {
  color: #CDCDCD
}


/* background - colors*/


.bg-color-wh {
  background-color: #f6f7f8;
}

.bg-color-dg {
  background-color: #2a3647;
}

.bg-color-lb {
 background-color:#29ABE2;
}


.bg-color-lg {
  background-color: rgb(246, 247, 248)
}



/* subclasses - help*/

.pointer {
  cursor: pointer;
}

.b-unset {
  border: unset;
}

.no-wrap-text {
  white-space: nowrap;
}

.d-none {
  display: none;
}

.mg-block-inline {
  display: inline-block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}






/* dunno */

.pos-abs {
  position: absolute;
}

.text-deco-n {
  text-decoration:  none;
}

.l-height-19 {
  line-height: 19.2px;
}

.l-height-24 {
  line-height: 24px;
}

.bradius10 {
  border-radius: 10px;
  }